<ion-content>
	<div id="container">
		<div style="padding: 5%">
			<img src="assets/images/logo.png" style="max-width: 200px">
			<h1 style="text-align: center;">Welcome Back!</h1>
			<form>
				<ion-item style="--background: rgba(0,0,0,0); border: 1px solid #dadada; margin-top: 5%; border-radius: 3px" lines="none">
					<ion-icon name="mail-outline" size="small" style="margin-right: 5%" color="primary"></ion-icon>
					<ion-input  type="email" required="true" #email style="--background: rgba(0,0,0,0);" placeholder="Email"></ion-input>
				</ion-item>
				<ion-item style="--background: rgba(0,0,0,0); border: 1px solid #dadada; margin-top: 5%; border-radius: 3px" lines="none">
					<ion-icon name="lock-closed-outline" size="small" style="margin-right: 5%" color="primary" position="stacked"></ion-icon>
					<ion-input type="password" minlength="6" required="true" #password placeholder="Password" style="--background: rgba(0,0,0,0)"></ion-input>
				</ion-item>
				<p style="text-align: right; margin-top: 3%; color: #3880ff" (click)="helper.navigate('forgot-password')"><small>Forgot Password</small></p>
				
				<ion-button size="default" expand="full" (click)="login()" style="margin-top: 3%;" [disabled]=!ishidden>
					<ion-ripple-effect type="bounded"></ion-ripple-effect>
					LOG IN <ion-spinner name="lines-small" [hidden]=ishidden></ion-spinner>
				</ion-button>
				<p><small style="color: red; margin-top: 10px; text-align: center">{{error}}</small></p>
			</form>
		</div>
		<p>Don't have an account? <span style="color: #3880ff" (click)="helper.navigate('signup')">Sign Up</span></p>
	</div>
</ion-content>
